body {
	background-image: linear-gradient(to bottom right, #6AFF8B, #6EE8FF);
	background-attachment: fixed;
	font-size:  1.2vw;
	text-align: center;
	background-color: #00FF00;
}

#keskenKyltti {
	float: left;
	margin: 2%;
	width: 10%;
	height: auto;
	animation: heilu 2s 1;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	position: relative;
}

pre {
	margin: auto;
}

#otsikko{
	color: #FF0000;
	animation: vari 3s 1;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	text-shadow: -1px 0 black, 1px 0 black, 1px 0 black, 0 -1px black;
}

#tekemisenKuvausLista {
	margin: 10%;
	float: right;
	text-shadow: 1px 1px 8px;
}

#painike:active {
	animation: kuole 1s 1;
}

ul {
	text-shadow: inherit;
	font-family: 'Pixelify Sans', cursive;
}

span {
	position: relative;
	animation: tipu 5s 1;
	opacity: 0;
}

img {
	max-width: 50%;
	height: auto;
	object-fit: contain;
}

.morkoalusta {
	position: relative;
	animation: liike 10s 1;
	animation-iteration-count: infinite;
}


#morko {
	/* Yritin saada mörön liikkumaan paikasta toiseen sen
	sen aikana kun se on piilossa mutta ilmeisesti ei voi käyttää kahta
	animaatiota samaan aikaan vaan ne pitää saada säädettyä limittäin
	jotta se toimii niin kuin ajattelin.*/
	position: relative;
	opacity: 50%;
	height: 10%;
	width: 10%;
	animation: säikäytys 5s 1, liike 8s 1;
	animation-direction: reverse;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.karpanen {
	position: relative;
	float: left;
	height: 5%;
	width: 5%;
	animation: liike 1.5s 1, pyöri 0.3s 1, liike 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.kuollutKarpanen {
	height: 5%;
	width:5%;
	opacity: 0%;
	animation: kuole 1s 1;
}

.kuvanKehys {
	border: 1px solid black;
	box-shadow: 2px 2px 6px;
}

.kuva:hover {
	animation: trippaile 3s 1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes heilu {
	from {transform: rotate(-10deg);}
	to {transform: rotate(10deg);}
}

@keyframes säikäytys {
	0% {opacity: 0%}
	10% {opacity: 90%}
	20% {opacity: 0%}
	100% {opacity: 0%}
}

@keyframes liike {
	0% {left: 0px; top: -200px;}
	25% {left: 200px; top: 0px;}
	50% {left: 200px; top: 200px;}
	75% {left: 0px; top: 200px;}
	100% {left: 0px; top: 0px;}
}

@keyframes pyöri{
	0% {transform: rotate(20deg);}
	30% {transform: rotate(80deg);}
	50% {transform: rotate(160deg);}
	70% {transform: rotate(240deg);}
	90% {transform: rotate(300deg);}
	100% {transform: rotate(360deg);}
}

@keyframes vari {
	0% {color: #FF0000}
	50% {color: #00FF00; font-style: italic;}
	100% {color: #0000FF; font-style: normal;}
}

@keyframes tipu {
	0% {left: 0px; top:0px; opacity: 100%;}
	95% {left:0px; top:0px; opacity: 100%;}
	100% {left:0px; top:500px; opacity: 0%;}
}

@keyframes kuole {
	0% {opacity: 100%; width: 5%; height: auto; transform: rotate(10deg);}
	25% {opacity: 95%; height: auto;}
	50% {opacity: 80%; height: auto; transform: rotate(355deg);}
	100% {opacity: 0%; width: 10%; height: auto; transform: skewY(60deg);}
}

@keyframes trippaile {
	0%{transform: skewY(-5deg);}
	100%{transform: skewY(5deg);}
}